@charset "utf-8";
/* CSS Document */
.myAVST-application-64{
background-image:url('../images/myAVST-application-64.png');
background-position: -0px -0px;
}
.myAVST-application-64:active{
background-image:url('../images/myAVST-application-64.png');
background-position: -64px -0px;
}
.myAVST-application-64.disabled{
background-image:url('../images/myAVST-application-64.png');
background-position: -128px -0px;
}

.myAVST-playVM-64{
background-image:url('../images/myAVST-playVM-normal-64.png');
}
.myAVST-playVM-64:active{
background-image:url('../images/myAVST-playVM-pressed-64.png');
}
.myAVST-playVM-64.disabled{
background-image:url('../images/myAVST-playVM-disable-64.png');
}

.myAVST-refresh-64{
background-image:url('../images/myAVST-refresh-normal-64.png');
}
.myAVST-refresh-64:active{
background-image:url('../images/myAVST-refresh-pressed-64.png');
}
.myAVST-refresh-64.disabled{
background-image:url('../images/myAVST-refresh-disable-64.png');
}

.myAVST-reply-64{
background-image:url('../images/myAVST-reply-normal-64.png');
}
.myAVST-reply-64:active{
background-image:url('../images/myAVST-reply-pressed-64.png');
}
.myAVST-reply-64.disabled{
background-image:url('../images/myAVST-reply-disable-64.png');
}

.myAVST-callback-64{
background-image:url('../images/myAVST-callback-normal-64.png');
}
.myAVST-callback-64:active{
background-image:url('../images/myAVST-callback-pressed-64.png');
}
.myAVST-callback-64.disabled{
background-image:url('../images/myAVST-callback-disable-64.png');
}

.myAVST-delete-64{
background-image:url('../images/myAVST-delete-normal-64.png');
}
.myAVST-delete-64:active{
background-image:url('../images/myAVST-delete-pressed-64.png');
}
.myAVST-delete-64.disabled{
background-image:url('../images/myAVST-delete-disable-64.png');
}

.myAVST-forwardTo-64{
background-image:url('../images/myAVST-forwardTo-normal-64.png');
}
.myAVST-forwardTo-64:active{
background-image:url('../images/myAVST-forwardTo-pressed-64.png');
}
.myAVST-forwardTo-64.disabled{
background-image:url('../images/myAVST-forwardTo-disable-64.png');
}


/*MediaPlayer*/
.myAVST-playMedia-64{
background-image:url('../images/myAVST-play-normal-64.png');
}
.myAVST-playMedia-64:active{
background-image:url('../images/myAVST-play-pressed-64.png');
}
.myAVST-playMedia-64.disabled{
background-image:url('../images/myAVST-play-disable-64.png');
}

.myAVST-pauseMedia-64{
background-image:url('../images/myAVST-pause-normal-64.png');
}
.myAVST-pauseMedia-64:active{
background-image:url('../images/myAVST-pause-pressed-64.png');
}
.myAVST-pauseMedia-64.disabled{
background-image:url('../images/myAVST-pause-disable-64.png');
}

.myAVST-stopMedia-64{
background-image:url('../images/myAVST-stop-normal-64.png');
}
.myAVST-stopMedia-64:active{
background-image:url('../images/myAVST-stop-pressed-64.png');
}
.myAVST-stopMedia-64.disabled{
background-image:url('../images/myAVST-stop-disable-64.png');
}

.myAVST-rewindMedia-64{
background-image:url('../images/myAVST-rewind-normal-64.png');
}
.myAVST-rewindMedia-64:active{
background-image:url('../images/myAVST-rewind-pressed-64.png');
}
.myAVST-rewindMedia-64.disabled{
background-image:url('../images/myAVST-rewind-disable-64.png');
}

.myAVST-forwardMedia-64{
background-image:url('../images/myAVST-forward-normal-64.png');
}
.myAVST-forwardMedia-64:active{
background-image:url('../images/myAVST-forward-pressed-64.png');
}
.myAVST-forwardMedia-64.disabled{
background-image:url('../images/myAVST-forward-disable-64.png');
}






