<settingRequirements>
 <settings>
  <setting details="" label="Enable myAVST" user_device="device" id="EnableWebappmyAVST" display="false" accessRights="RW_RW" description="Will enable or disable the webapp myAVST" range="All" rights="RW_RW" value="true" mainCategory="Application" DM="true" mandatory="false" requiresReboot="SOFT" release="R200" displayRights="0_0" category="myAVST" enabler="" type="BOOLEAN"/>
  <setting details="" label="WebServer Url" user_device="device" id="myAVSTUrl" display="true" accessRights="RW_RW" description="AVST Web Server Url" range="All" rights="RW_RW" value="http://" mainCategory="Application" DM="true" mandatory="false" requiresReboot="NONE" release="R200" displayRights="RW_RW" category="myAVST" enabler="" type="TEXT"/>
  <setting details="" label="AVST IP" user_device="device" id="myAVSTServerIP" display="true" accessRights="RW_RW" description="AVST Server IP" range="All" rights="RW_RW" value="" mainCategory="Application" DM="true" mandatory="false" requiresReboot="NONE" release="R200" displayRights="RW_RW" category="myAVST" enabler="" type="TEXT"/>
  <setting details="" label="VoiceMail" user_device="device" id="myAVSTVoiceMail" display="true" accessRights="RW_RW" description="AVST VoiceMail directory number" range="All" rights="RW_RW" value="" mainCategory="Application" DM="true" mandatory="false" requiresReboot="NONE" release="R200" displayRights="RW_RW" category="myAVST" enabler="" type="TEXT"/>
  <setting details="" label="VoiceMail Box" user_device="device" id="myAVSTSubscriber" display="true" accessRights="RW_RW" description="AVST Subscriber VoiceMail box" range="All" rights="RW_RW" value="" mainCategory="Application" DM="true" mandatory="false" requiresReboot="NONE" release="R200" displayRights="RW_RW" category="myAVST" enabler="" type="TEXT"/>
  <setting details="" label="Password" user_device="device" id="myAVSTPassword" display="true" accessRights="RW_RW" description="AVST VoiceMail box password" range="All" rights="RW_RW" value="" mainCategory="Application" DM="true" mandatory="true" requiresReboot="NONE" release="R200" displayRights="RW_RW" category="myAVST" enabler="" type="TEXT"/>
  <setting details="" label="Message Limit" user_device="device" id="myAVSTMaxMessageCount" display="true" accessRights="RW_RW" description="Limit the number of messages to retrive" range="All" rights="RW_RW" value="0" mainCategory="Application" DM="true" mandatory="false" requiresReboot="NONE" release="R200" displayRights="RW_RW" category="myAVST" enabler="" type="NUMERIC"/>
  <setting details="" label="Refresh timer" user_device="device" id="myAVSTRefreshTimer" display="true" accessRights="RW_RW" description="Refresh Timer" range="All" rights="RW_RW" value="5" mainCategory="Application" DM="true" mandatory="false" requiresReboot="NONE" release="R200" displayRights="RW_RW" category="myAVST" enabler="" type="NUMERIC"/>
  <setting details="" label="Enable Preview" user_device="device" id="myAVSTEnablePreview" display="true" accessRights="RW_RW" description="Enable Preview" range="All" rights="RW_RW" value="false" mainCategory="Application" DM="true" mandatory="false" requiresReboot="NONE" release="R200" displayRights="RW_RW" category="myAVST" enabler="" type="BOOLEAN"/>
 </settings>
</settingRequirements>
